/* Estilo general */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Estilo de la barra de navegación */
  nav {
    background-color: #f2f2f2;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-grow: 1;
  }
  nav li {
    margin-right: 20px;
  }
  nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 25px;
    transition: color 0.3s ease;
  }
  
  nav li:first-child {
    flex-basis: 80%;
    flex-grow: 0;
  }
  nav li:not(:first-child) {
    flex-grow: 0;
  }
  nav a:hover {
    color: #555;
  }
  
  nav ul li {
    padding: 5px 0;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  nav ul li:hover {
    background-color: #f2f2f2;
    color: #333;
  }
  
  
  /* Estilo del encabezado */
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 200px;
  }
  header img {
    max-width: 15%;
    height: auto;
    margin-right: 30px;
  }
  header h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  header p {
    font-size: 24px;
    margin-bottom: 10px;
  }
  header button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Estilo del main */
  main {
    max-width: 700px; 
    margin: 0 auto; 
    text-align: justify; 
    margin-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
  }
  main h1, main h2, main h3, main p {
    margin-bottom: 20px;
  }
  main h1 {
    text-align: center;
  }
  
  
  footer {
    background-color: transparent;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  footer a {
    text-decoration: none; /* quita la línea de subrayado del enlace */
    color: inherit; /* hereda el color del texto del elemento padre */
  }