/* Estilos de encabezado */
header {
	background-color: #333;
	color: white;
	padding: 20px;
	}
	
	header h1 {
	text-align: center;
	margin: 0;
	font-size: 40px;
	}
	
	header p {
	text-align: center;
	margin: 0;
	font-size: 20px;
	}
	
	/* Estilos de navegación */
	nav {
	background-color: #f2f2f2;
	text-align: center;
	padding: 20px;
	margin: 20px;
	}
	
	nav ul {
		text-decoration: none;
		display:flex;
		flex-direction:row-reverse;
		margin:0;
		padding:0;
		list-style:none;
		color:rgb(0, 0, 0);
	}
	
	nav ul li{
		text-decoration: none;
		align-items: center;
		flex-grow: 1;
		border:solid;
		border-style: groove;
		}
		
	
	nav ul li a {
	text-decoration: none;
	color: #333;
	text-decoration: none;
	font-size: 20px;
	}
	
	nav ul li a:hover {
		text-decoration: none;
	color: white;
	background-color: #333;
	
	}
	
	
	/* Estilos del contenido principal */
	main {
	padding: 20px;
	}
	
	main h2 {
	margin-top: 0;
	font-size: 30px;
	}
	
	main p {
	font-size: 20px;
	}
	
	main ul {
	margin-left: 20px;
	font-size: 20px;
	}
	
	main li {
	margin-bottom: 10px;
	}
	
	
	footer {
		position: fixed; 
		bottom: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 11px;
		background-color: #f2f2f2;
		padding: 3px;
		color:#000;
		}
		footer p {
		font-family:sans-serif;
		margin: 0;
		}
		
 
   ul li {
	text-decoration: none;
	display: inline-block;
	
  }
  
  ul li a {
	text-decoration: none;
	display: block;
	padding: 10px;
	background-color: #ccc;
	color: #000;
	
  }
  
   ul li a:hover {
	text-decoration: none;
	background-color: #aaa;
  }
  
   ul li:hover ul {
	text-decoration: none;
	display: block;
  } 

   ul li h3 {
	color: #ffffff;
	background-color: #000;
	text-align: center;

   }
  
  

main ul{
	display:flex;
	flex-direction:row;	
	list-style:none;
	justify-content:space-around;
	padding:0px;
	margin:0px;
}

main ul figure{
	position:relative;
}


main ul figure:hover figcaption{
	display:block;
}

main ul figure figcaption{
	display:none;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	font-family:sans-serif;
	font-size:5px;
	
	background: rgba(0,0,0,.8);
	text-align:center;
	
	padding:16px;
	color:white;
}	
html {
	color: #fff;
	background-image: url('img/hobies.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width:"250";
	height:"250";
  }