/* Estilos de encabezado */
header {
	background-color: #333;
	color: white;
	padding: 20px;
	}
	
	header h1 {
	text-align: center;
	margin: 0;
	font-size: 40px;
	}
	
	header p {
	text-align: center;
	margin: 0;
	font-size: 20px;
	}
	
	/* Estilos de navegación */
	nav {
	background-color: #f2f2f2;
	text-align: center;
	padding: 20px;
	margin: 20px;
	}
	
	nav ul {
		text-decoration: none;
		display:flex;
		flex-direction:row-reverse;
		margin:0;
		padding:0;
		list-style:none;
		color:rgb(0, 0, 0);
	}
	
	nav ul li{
		text-decoration: none;
		align-items: center;
		flex-grow: 1;
		border:solid;
		border-style: groove;
		}
		
	
	nav ul li a {
	text-decoration: none;
	color: #333;
	text-decoration: none;
	font-size: 20px;
	}
	
	nav ul li a:hover {
		text-decoration: none;
	color: white;
	background-color: #333;
	
	}
	html {
		color: #fff;
		background-image: url('img/matrix1.gif');
		background-repeat: no-repeat;
		background-size: cover;
		width:"250";
		height:"250";
	  }
	  
	
	/* Estilos del contenido principal */
	main {
	padding: 20px;
	}
	
	main h2 {
	margin-top: 0;
	font-size: 30px;
	}
	
	main p {
	font-size: 20px;
	}
	
	
	main blockquote {
	background-color: #f2f2f2;
	padding: 20px;
	font-style: italic;
	font-size: 20px;
	}
	
	main blockquote p {
	margin: 0;
	}
	
	main blockquote em {
	font-style: normal;
	}
	
	main ol {
	margin-left: 20px;
	font-size: 20px;
	}
	
	main ul {
	margin-left: 20px;
	font-size: 20px;
	}
	
	main li {
	margin-bottom: 10px;
	}

	img {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	
	/* Estilos del formulario */
	form {
	margin-bottom: 20px;
	}
	
	form p {
	font-size: 20px;
	}
	
	 
	footer {
		position: fixed; 
		bottom: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 11px;
		background-color: #f2f2f2;
		padding: 3px;
		color:#000;
		}
		footer p {
		font-family:sans-serif;
		margin: 0;
		}
		
 
   ul li {
	text-decoration: none;
	display: inline-block;
	
  }
  
  ul li a {
	text-decoration: none;
	display: block;
	padding: 10px;
	background-color: #ccc;
	color: #000;
	
  }
  
   ul li a:hover {
	text-decoration: none;
	background-color: #aaa;
  }
  
   ul li:hover ul {
	text-decoration: none;
	display: block;
  }
  
   ul ul {
	text-decoration: none;
	display: none;
	position: absolute;
	padding: 0;
	margin: 0;
	background-color: #fff;
	border: 1px solid #ccc;
  }
  
   ul ul li {
	text-decoration: none;
	display: block;
  }
  
   ul ul li a {
	display: block;
	padding: 10px;
	color: #000;
	text-decoration: none;
  }
  
   ul ul li a:hover {
	text-decoration: none;
	background-color: #ddd;
  }
  button#botoncito{
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

button#botoncito::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      45deg,
      rgb(5, 128, 11), rgb(0, 0, 0), rgb(87, 243, 40), rgb(3, 3, 3), rgb(4, 250, 4), rgb(13, 53, 5), rgb(81, 255, 28)
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

button#botoncito:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    animation: ripple 0.6s linear;
}

@keyframes ripple {
    to {
        width: 100%;
        padding-bottom: 100%;
        opacity: 0;
    }
}

button#botoncito:active::before {
    animation: none;
    background-size: 100%;
    filter: none;
}